In [1]:
print("Hello World")

Hello World

In [3]:
x = 1
#initialization of x with 1
if x > 0:
    print("There are two comments") #Print a string

There are two comments

In [5]:
txt = input("Type something:")
print(txt)

Type something: Hello

Hello

In [16]:
print("Statement1")
print("Statement2")
#You can type two statements in the following way
print("Statement1");print("Statement2")

Statement1
Statement2
Statement1
Statement2

In [6]:
x = 1
if x > 0:
print("This will not run because of the indentation error")

IndentationError: expected an indented block after 'if' statement on line 2 (3184462978.py, line 3)

In [7]:
x = 1
if x > 0:
 print("Space indentation")

Space indentation

In [15]:
x = 1
if x > 0:
    print("Tab indentation")

Tab indentation

In [14]:
x = 1
if x > 0:
     print("Tab+Space indentation")

Tab+Space indentation

In [13]:
a = 1
b = 1.1
c = 1 + 2j
d = False

print(type(a))
print(type(b))
print(type(c))
print(type(d))

<class 'int'>
<class 'float'>
<class 'complex'>
<class 'bool'>

In [11]:
str1 = "Hello"
print(str)
print(type(str1))

<class 'str'>
<class 'str'>

In [10]:
#Special characters
print("Backlash = \\")
print("Tab = \t")
print("Single quote = \'")
print("Double quote = \"")

Backlash = \
Tab =
Single quote = '
Double quote = "

In [9]:
string1 = "Python Tutorial"
print(string1[0])
print(string1[1])
print(string1[2])
print(string1[3])
print(string1[-1])
print(string1[-2])

P
y
t
h
l
a

In [8]:
list1 = [1,2,3,4,5]
list2 = [1.1,2.2,3.3,4.4,5.5]
list3 = [100, "text", True]

print(list1)
print(type(list1))

print(list2)
print(type(list2))

print(list3)
print(type(list3))

[1, 2, 3, 4, 5]
<class 'list'>
[1.1, 2.2, 3.3, 4.4, 5.5]
<class 'list'>
[100, 'text', True]
<class 'list'>

In [9]:
print(list1[1])

2

In [10]:
print(list1[:3])
print(list2[-3:-1])

[1, 2, 3]
[3.3, 4.4]