In [1]:
count=0
while(count<3):
    count=count+1
    print("Hello Greek")

Hello Greek
Hello Greek
Hello Greek

In [3]:
print("List Iteration: ")
l=["greeks","for","geeks"]
for i in l:
    print(i)

List Iteration:
greeks
for
geeks

In [2]:
print("Tuple Iteration") 
t = ("geeks", "for", "geeks") 
for i in t: 
    print(i)

Tuple Iteration
geeks
for
geeks

In [4]:
print("String iteration")
s="Geeks"
for i in s:
    print(i)

String iteration
G
e
e
k
s

In [5]:
list = ["geeks", "for", "geeks"]
for index in range(len(list)):
    print(list[index])

geeks
for
geeks

In [11]:
for letter in "greeksforgeeks":
    if letter=='s' or letter=="f":
        continue
    print( "current letter: ",letter)

current letter:  g
current letter:  r
current letter:  e
current letter:  e
current letter:  k
current letter:  o
current letter:  r
current letter:  g
current letter:  e
current letter:  e
current letter:  k

In [7]:
for letter in "greeksforgeeks":
    if letter=='e' or letter=="s":
        break
    print( "current letter: ",letter)

current letter:  g
current letter:  r

In [8]:
def my_function():
    print("Hello from function!")

my_function()

Hello from function!

In [9]:
def my_function(fname): 
    print(fname + " Refsnes")
my_function("Emil") 
my_function("Tobias") 
my_function("Linus")

Emil Refsnes
Tobias Refsnes
Linus Refsnes

In [10]:
def my_function(country = "Norway"): 
    print("I am from " + country)
my_function()
my_function("Sweden")  
my_function("India")    
my_function("Brazil")

I am from Norway
I am from Sweden
I am from India
I am from Brazil

In [12]:
def my_function(food): 
    for x in food: 
        print(x) 
        
fruits = ["apple", "banana", "cherry"] 

my_function(fruits)

apple
banana
cherry

In [13]:
def my_function(x):
    return 5*x

print(my_function(10))
print(my_function(20))

50
100

In [14]:
def my_function(child3, child2, child1): 
    print("The youngest child is " + child3) 
my_function(child1 = "Emil", child2 = "Tobias", child3 = "Linus")

The youngest child is Linus

In [15]:
class MyClass: 
    x = 5 
p1 = MyClass() 
print(p1.x)

5

In [16]:
class Person: 
    def __init__ (self, name, age): 
        self.name = name 
        self.age = age 
    
p1 = Person("John", 36) 
print(p1.name) 
print(p1.age)

John
36

In [17]:
class Person: 
    def __init__ (self, name, age): 
        self.name = name 
        self.age = age 
        
    def myfunc(self): 
        print("Hello my name is " + self.name) 
p1 = Person("John", 36) 
p1.myfunc()

Hello my name is John